@model List<Evaluation_3.Models.Entity.Additional.RapportRevenue>

@{
    ViewData["Title"] = "Chiffre d'affaires et gains";
    Layout = "_AdminLayout";
    var totalRevenue = Model.Sum(item => item.Loyer);
    var totalCommission = Model.Sum(item => item.Revenue);
}
<style>
    body {
        background-color: #121212;
        color: #ffffff;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #ffffff;
        background-color: #333333;
    }

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #454545;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #454545;
    }

    .table tbody + tbody {
        border-top: 2px solid #454545;
    }

    .table .table {
        background-color: #333333;
    }

    .table-hover .table-dark tbody tr:hover {
        color: #ffffff;
        background-color: #454545;
    }
</style>

<h2>Chiffre d'affaires et gains</h2>

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Année</th>
            <th>Mois</th>
            <th>Client</th>
            <th>Bien</th>
            <th>Loyer</th>
            <th>Commission</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Year</td>
                <td>@item.GetMonthName()</td>
                <td>@item.client</td>
                <td>@item.bien</td>
                <td>@item.Loyer.ToString("C")</td>
                <td>@item.Commission %</td>
            </tr>
        }
    </tbody>
</table>

<div class="total">
    <p><strong>Chiffre d'affaires: </strong> @totalRevenue.ToString("C")</p>
    <p><strong>Commission: </strong> @totalCommission.ToString("C")</p>
</div>